<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Rate My Theme Park</title>
    {{{head}}}
    <link rel="stylesheet" href="/public/css/styles.css">
</head>
<body>

    <header>
        <h1>{{{title}}}</h1>
    </header>

    <main>
        {{{body}}}
    </main>
    
    <script src = '/public/js/validateform.js'></script>
</body>
</html>