<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <title>Rate My Theme Park</title>
        {{{head}}}
        <link rel="stylesheet" href="/public/css/styles.css">
    </head>
    <body>
         <header>
            Rate My Theme Park
        </header>
    </body>
    <main>
        {{{body}}}
    </main>
</html>