<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Rate My Theme Park</title>
    {{{head}}}
    <link rel="stylesheet" href="/public/css/styles.css">
</head>
<body>

    <header>
        Rate My Theme Park
    </header>

    <main>
        {{{body}}}
    </main>
    
</body>
</html>