 <h1> Add A Comment </h1>
 <main>
    <p>Please enter the following information to make a comment</p>
    <form id = "comment_made">
        <label for="comment_made">Comment</label>
        <input type="string" name="comment_made" id="comment_made">
    </form>
    <button>Submit</button>
 </main>