 <h1> Add A Comment </h1>
 <main>
    <p>Please enter the following information to make a comment</p>
    <form id = "comment">
        <label for="comment_made">Comment</label>
        <input type="text" name="comment_made" id="comment_made">
        <button>Submit</button>
    </form>
    
 </main>