{{!-- 

    /homepage/{idOfThemePark}/foodStalls/{idOfFoodStall}/comments/addFoodStallComment
 --}}

<<<<<<< HEAD
<<<<<<< HEAD
   <h1> Add A Food Stall comment </h1>
 <main>
    <p>Please enter the following information to add a comment to the food stall</p>
    <form id = "foodstallcomment" method = 'POST' action = '/themepark/{{themeId}}/foodstalls/{{foodstallId}}/addComment'>
        <label for="foodstall_comment">Food Stall Comment</label>
        <input type="text" name="foodstall_comment" id="foodstall_comment">
=======
=======
>>>>>>> 7836480cc6b8bfa26039aa449df5f032fc5ba617
 <h1> Add a Food Stall comment </h1>
 <main> 
    <p> Please enter the follow information to add a comment to the foodstall</p>
    <form id = "foodstallcomment" method = 'POST' action = "/themepark/{{themeId}}/foodstalls/{{foodstallId}}/addComment">
        <label for ="foodstall_comment"> Food Stall Comment </label>
        <input type ="text" name = "foodstall_comment" id="foodstall_comment">
<<<<<<< HEAD
>>>>>>> 651f422 (Comments for foodstall routes)
=======
>>>>>>> 7836480cc6b8bfa26039aa449df5f032fc5ba617
        <br>
        <button>Submit</button>
    </form>
 </main>