 <h1> Add A Food Stall </h1>
 <main>
    <p>Please enter the following information to add a food stall</p>
    <form id = "food_stall_name">
        <label for="food_stall_name">Food Stall Name</label>
        <input type="string" name="food_stall_name" id="food_stall_name">
    </form>
    <button>Submit</button>
 </main>