 {{!--
   /homepage/{idOfThemePark}/rides/addRide
    Add a ride -> comes from add button in ridePage
  --}}
 
 <h1> Add A Report </h1>
 <main>
    <p>Please enter the following information to add a ride</p>
    <form id = "ride_name">
        <label for="ride_name">Ride Name</label>
        <input type="string" name="ride_name" id="ride_name">
    </form>
    <button>Submit</button>
 </main>