 <h1> Add A Report </h1>
 <main>
    <p>Please enter the following information to make a report</p>
    <form id = "report">
        <label for="report_reason">Reason This Report is Being Made</label>
        <input type="text" name="report_reason" id="report_reason">
        <br>
        <button>Submit</button>
    </form>
 </main>