<h1>Report Ride: {{rideName}}</h1>

<form id="reportRideForm" method="POST" action="/themepark/{{themeId}}/rides/{{rideId}}/addReport">
    <label for="report_reason">Reason for reporting:</label>
    <textarea name="reportReason" id="report_reason" required></textarea>
    <button type="submit">Submit Report</button>
</form>
