 {{!-- 
    Add Theme Park Page
    - Navigation to/from themeparkmainpage (Main themepark page)

    /homepage/addThemePark
  --}}

<a href = '/themepark'><button>Rate my Theme Park</button></a>
 
 <h1> Add A Theme Park </h1>
 <main>
    <p>Please enter the following information to add a theme park</p>
    <form id = "tp" method = 'POST' action = '/themepark/addThemePark'>
        <label for="theme_park_name">Theme Park Name</label>
        <input type="string" name="theme_park_name" id="theme_park_name">
        <br>
        <label for="theme_park_street">Theme Park Street Address</label>
        <input type="string" name="theme_park_street" id="theme_park_street">
        <br>
        <label for="theme_park_city">Theme Park City</label>
        <input type="string" name="theme_park_city" id="theme_park_city">
        <br>
        <label for="theme_park_state">Theme Park State or Region</label>
        <input type="string" name="theme_park_state" id="theme_park_state">
        <br>
        <button>Submit</button>
    </form>
 </main>