 {{!--
 
 Add a comment to theme park
 navigation back to theme park comment page
    /homepage/{idOfThemPark}/comments/addComment

   --}}

 <h1> Add a Comment </h1>
 <main>
    <p>Please enter the following information to add a comment to a theme park</p>
    <form id = "theme_park_comment" method = 'POST' action = "/themepark/{{_id}}/comments/addThemeParkComment">

        <label for="theme_park_staff">Theme Park Comment</label>
        <input type="text" name="theme_park_comment" id="theme_park_comment">
        <br>

        <button>Submit</button>
    </form>
 </main>