 <h1> Add A Theme Park </h1>
 <main>
    <p>Please enter the following information to add a theme park</p>
    <form id = "theme_park_name">
        <label for="theme_park_name">Theme Park Name</label>
        <input type="string" name="theme_park_name" id="theme_park_name">
    </form>
    <form id = "theme_park_street">
        <label for="theme_park_street">Theme Park Street Address</label>
        <input type="string" name="theme_park_street" id="theme_park_street">
    </form>
    <form id = "theme_park_city">
        <label for="theme_park_city">Theme Park City</label>
        <input type="string" name="theme_park_city" id="theme_park_city">
    </form>
    <form id = "theme_park_state">
        <label for="theme_park_state">Theme Park State or Region</label>
        <input type="string" name="theme_park_state" id="theme_park_state">
    </form>
    <button>Submit</button>
 </main>