 <h1> Add A Theme Park </h1>
 <main>
    <p>Please enter the following information to add a rating to a theme park</p>
    <form id = "theme_park_staff">
        <label for="theme_park_staff">Staff Rating</label>
        <input type="number" name="theme_park_staff" id="theme_park_staff">
    </form>
    <form id = "theme_park_cleanliness">
        <label for="theme_park_cleanliness">Cleanliness Rating</label>
        <input type="number" name="theme_park_cleanliness" id="theme_park_cleanliness">
    </form>
    <form id = "theme_park_crowds">
        <label for="theme_park_crowds">Crowds Rating</label>
        <input type="number" name="theme_park_crowds" id="theme_park_crowds">
    </form>
    <form id = "theme_park_diversity">
        <label for="theme_park_diversity">Diversity Rating</label>
        <input type="number" name="theme_park_diversity" id="theme_park_diversity">
    </form>
    <form id = "theme_park_review">
        <label for="theme_park_review">Enter Your Review</label>
        <input type="string" name="theme_park_review" id="theme_park_review">
    </form>
    <button>Submit</button>
 </main>