 {{!--
 
 Add a rating to theme park
 navigation back to theme park rating page
    /homepage/{idOfThemePark}/ratings/addThemParkRating
   --}}
 
 
 <h1> Add A Rating </h1>
 <main>
    <p>Please enter the following information to add a rating to a theme park</p>
    <form id = "tprating" method = 'POST' action = "/themepark/{{_id}}/ratings/addThemeParkRating">
        <label for="theme_park_staff">Staff Rating</label>
        <input type="number" name="theme_park_staff" id="theme_park_staff">
        <br>
        <label for="theme_park_cleanliness">Cleanliness Rating</label>
        <input type="number" name="theme_park_cleanliness" id="theme_park_cleanliness">
        <br>
        <label for="theme_park_crowds">Crowds Rating</label>
        <input type="number" name="theme_park_crowds" id="theme_park_crowds">
        <br>
        <label for="theme_park_diversity">Diversity Rating</label>
        <input type="number" name="theme_park_diversity" id="theme_park_diversity">
        <br>
        {{!-- <label for="theme_park_review">Enter Your Review</label>
        <input type="string" name="theme_park_review" id="theme_park_review"> --}}
        <button>Submit</button>
    </form>
 </main>