{{!-- 

    /homepage/{idOfThemePark}/foodStalls/{idOfFoodStall}/comments

 --}}
<<<<<<< HEAD
<<<<<<< HEAD
  <h1> Comments of Food Stalls</h1>
=======

 <h1> Comments of Food Stalls</h1>

>>>>>>> 651f422 (Comments for foodstall routes)
=======

 <h1> Comments of Food Stalls</h1>

>>>>>>> 7836480cc6b8bfa26039aa449df5f032fc5ba617
 <main> 
    <ol>
        {{#each comments}}
        <li>
            {{userName}}
            <br>
            Comment: {{commentBody}}
        </li>
        {{/each}} 
    </ol>
 </main>
<<<<<<< HEAD
<<<<<<< HEAD
=======

>>>>>>> 651f422 (Comments for foodstall routes)
=======

>>>>>>> 7836480cc6b8bfa26039aa449df5f032fc5ba617
 <a href='/themepark/{{_id}}/foodstalls/{{_foodstallId}}/addComment'> Add comment on food stall.</a>