{{!-- Main theme park page with 

    /homepage
    - navigation
    - (Button) Search by location - Another page
    - (Button) compare theme parks - Another page
    - (Button) Add theme park page - Another page
 --}}


 <h1> Home Page </h1>

 <a href = '/signoutuser'>Sign out</a>
    <p>Want to search for a theme park? Enter the name on the form below</p>
    <form method = "POST" action = "/themepark/listofthemeparks" id = "themeParkForm">
        <label for="themeParkInput">Theme Park</label>
        <input type="text" name="themeParkInput" id="themeParkInput" required>
        <br>
        <button id = 'themeparksearchbutton'>Submit</button>
    </form>

    <div id = "tperror" hidden>Invalid input</div>

    <p>Want to search for a theme park by state name? Enter the state on the form below</p>
    <form method = "POST" action = "/themepark/listofthemeparkslocation" id = "themeParkLocationForm">
        <label for="themeParkLocationInput">State</label>
        <input type="text" name="themeParkLocationInput" id="themeParkLocationInput" required>
        <br>
        <button id = 'themeparklocationbutton'>Submit</button>
    </form>

    <div id = "tplocationerror" hidden>Invalid input</div>
    
    <p>Unable to find a theme park? Click this button to add a theme park!</p>
    <a href = "/themepark/addthemepark">Add a Theme Park</a>
    

    <p>Want to compare two different theme parks? Click this button to do so?</p>
    <a href = "/themepark/comparethemeparks">Compare Theme Parks</a>
