{{!-- Main theme park page with 

    /homepage
    - navigation
    - (Button) Search by location - Another page
    - (Button) compare theme parks - Another page
    - (Button) Add theme park page - Another page
 --}}


 <h1> Home Page </h1>
 <main>
    <p>Want to search for a theme park? Enter the name on the form below</p>
    <form id = "themeParkInput">
        <label for="themeParkInput">Username</label>
        <input type="themeParkInput" name="themeParkInput" id="themeParkInput">
    </form>
    <button>Submit</button>
    <p>Unable to find a theme park? Click this button to add a theme park!</p>
    <button>Add a Theme Park</button>
    <p>Want to compare two different theme parks? Clikc this button to do so?</p>
    <button>Compare Theme Parks</button>
 </main>