<a href = '/themepark'>Rate my Theme Park</a>

<h1>Theme parks found</h1>
<main>
    <ol>
        {{#each parks}}
        <li>
            <a href="/themepark/{{_id}}"> {{themeParkName}} </a>
            <br>
            {{state}} 
        </li>
        {{/each}}
    </ol>
</main>