<a href = '/themepark'><button>Rate my Theme Park</button></a>
<h1>Theme parks found</h1>
<main>
    <ol>
        {{#each parks}}
        <li>
            <a href="/themepark/{{_id}}"> {{themeParkName}} </a>
        </li>
        {{/each}}
    </ol>
</main>