<a href = '/themepark'>Rate my Theme Park</a>
    <ol>
        {{#each parks}}
        <li>
            <a href="/themepark/{{_id}}"> {{themeParkName}} </a>
            <br>
            {{state}} 
        </li>
        {{/each}}
    </ol>
