 {{!-- Login Page for users to enter username and password --}}
 <h1> Login Page </h1>
 <main>
    <p>Please enter your username and password</p>
    <form id = "usernameLogin">
        <label for="check_username">Username</label>
        <input type="string" name="check_username" id="check_username">
    </form>
    <form id = "passwordLogin">
        <label for="check_password">Password</label>
        <input type="string" name="check_password" id="check_password">
    </form>
    <button>Submit</button>
 </main>