 {{!-- Login Page for users to enter username and password --}}
 <h1> Login Page </h1>
 <main>
    <p>Please enter your username and password</p>
    <form id = "login">
        <label for="check_username">Username</label>
        <input type="string" name="check_username" id="check_username">
        <br>
        <label for="check_password">Password</label>
        <input type="string" name="check_password" id="check_password">
        <button>Submit</button>
    </form>
 </main>