<h1>Report Successfully Submitted</h1>
<p>Your report for the ride "{{rideName}}" has been sent successfully. Thank you for your feedback and please do not spam report on the same ride.</p>
<a href="/themepark/{{themeId}}/rides/{{rideId}}">Back to Ride Page</a>
