 {{!-- Login Page for users to enter username and password --}}
<a href = "/signupuser">Click here to signup!</a>
<br>
 <h1> Sign In </h1>
 <main>
    <p>Please enter your username and password</p>
    <form method="POST" action="/signinuser" id="signin-form">
        <label for="check_username">Username</label>
        <input type="text" name="check_username" id="check_username">
        <br>
        <label for="check_password">Password</label>
        <input type="password" name="check_password" id="check_password">
        <button name="submit_button" id="submit_button">Submit</button>
    </form>
 </main>

{{#if missing}}
  <div class="missing">
      <p>Missing arguments</p>
    <br>
    <ul>
        {{#each missings}}
          <li>{{this}}</li>
        {{/each}}
    </ul>
  </div>
{{/if}}

 {{#if error}}
  <div class="errors">
    <p>Errors</p>
    <br>
    <ul>
        {{#each errors}}
        <li>{{this}}</li>
        {{/each}}
    </ul>
  </div>
{{/if}}


{{#if invalid}}
  <div class="invalid">
    {{invalidmsg}}
  </div>
{{/if}}
