{{!-- 
Theme Park Comment Page (INDIVIDUAL THEME PARK)

    /homepage/{idOfThemePark}/comments
- list of all comments
- add button (Another page)
 --}}

<h1>{{themepark.themeParkName}}</h1>
<ul>
  {{#each comments}}
    <li>
      User: {{userName}} Comment: {{commentBody}}
    </li>
  {{/each}}
</ul>

<a href = '/themepark/{{_id}}/comments/addThemeParkComment'>Add theme park comment</a>